src/__pycache__/json_files.cpython-313.pyc
test/__init__.py
test/file1.json
test/file2.json
test/file3.json
test/file4.json
test/test_json_files.py
test/__pycache__/__init__.cpython-313.pyc
test/__pycache__/test_json_files.cpython-313.pyc
tmc/__init__.py
tmc/__main__.py
tmc/points.py
tmc/result.py
tmc/runner.py
tmc/utils.py
tmc/__pycache__/__init__.cpython-313.pyc
tmc/__pycache__/__main__.cpython-313.pyc
tmc/__pycache__/points.cpython-313.pyc
tmc/__pycache__/result.cpython-313.pyc
tmc/__pycache__/runner.cpython-313.pyc
tmc/__pycache__/utils.cpython-313.pyc
