src/__pycache__/course_statistics.cpython-313.pyc
test/__init__.py
test/test_course_statistics_part_1.py
test/test_course_statistics_part_2.py
test/__pycache__/__init__.cpython-313.pyc
test/__pycache__/test_course_statistics_part_1.cpython-313.pyc
test/__pycache__/test_course_statistics_part_2.cpython-313.pyc
test/data/CCFUN.json
test/data/courses.json
test/data/courses2.json
test/data/docker2019.json
test/data/ofs.json
test/data/ofs2019.json
test/data/ohtus17.json
tmc/__init__.py
tmc/__main__.py
tmc/points.py
tmc/result.py
tmc/runner.py
tmc/utils.py
tmc/__pycache__/__init__.cpython-313.pyc
tmc/__pycache__/__main__.cpython-313.pyc
tmc/__pycache__/points.cpython-313.pyc
tmc/__pycache__/result.cpython-313.pyc
tmc/__pycache__/runner.cpython-313.pyc
tmc/__pycache__/utils.cpython-313.pyc
